<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<module-name>dsgapi</module-name>
	  
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
		
	<listener>
      <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
   	</listener>
    <listener>
        <listener-class>com.dell.listener.UserPropertiesListener</listener-class>
    </listener>
	
		
	<!--  This is needed for Swagger to find the Rest APIs --> 	
	 
	<context-param>
		<param-name>javax.ws.rs.Application</param-name>
		<param-value>com.dell.api.common.APIRestApplication</param-value>
	</context-param>
	
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>
    			com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider
    			,com.wordnik.swagger.jaxrs.listing.ResourceListingProvider
    	</param-value>
	</context-param>

	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	
	<!-- All the Rest APIs URL pattern must be added here -->
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/api-docs/*</url-pattern>
		<url-pattern>/cloudproviders/*</url-pattern>
		<url-pattern>/blueprints/*</url-pattern>
		<url-pattern>/isvblueprint/*</url-pattern>
		<url-pattern>/locations/*</url-pattern>
		<url-pattern>/sms/*</url-pattern>
	</servlet-mapping>
	
  
	<servlet>
		<servlet-name>DefaultJaxrsConfig</servlet-name>
		<servlet-class>com.wordnik.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>/dsgapi</param-value>
			
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
    	<servlet-name>Bootstrap</servlet-name>
    	<servlet-class>com.dell.api.swagger.Bootstrap</servlet-class>
    	<load-on-startup>2</load-on-startup>
  	</servlet>
  	
  	<!-- Add User Servlet -->
  	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>com.dell.api.web.AddUserServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/partner/addpartner</url-pattern>
	</servlet-mapping>
	
	<!--  -->
    <servlet>
		<servlet-name>ForumServlet</servlet-name>
		<servlet-class>com.dell.api.web.ForumServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
		<servlet-name>ForumServlet</servlet-name>
		<url-pattern>/gotoforum</url-pattern>
	</servlet-mapping>
    
    <!--  Logout Servlet -->
    <servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.dell.api.web.LogoutServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<!--  CORS filter -->
	<filter>
  		<filter-name>CorsFilter</filter-name>
  		<filter-class>com.dell.api.web.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
  		<filter-name>CorsFilter</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
		<!--  Security Rules for the different Rest Services -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Users</web-resource-name>
            <url-pattern>/users/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
     
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>Developers</web-resource-name>
			<url-pattern>/blueprints/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Developers</web-resource-name>
			<url-pattern>/sms/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Partners</web-resource-name>
			<url-pattern>/isvblueprint/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>isv</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>DSG_API</realm-name>
    </login-config>

    <security-role>
        <role-name>isv</role-name>
    </security-role>
    
    <security-role>
        <role-name>user</role-name>
    </security-role>
</web-app>
